# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.SecretStoreAuthService.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\MyRepos\SecretStoreAuthService\SecretStoreAuthService\.idea\.idea.SecretStoreAuthService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
